*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --padding : 20px;
    --blur : 0px;
    --base : orange;
    --width : 50%;
    --border-radius : 15px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-family: sans-serif;
    background: #393838;
    color: white;
}

.container{
    border-radius: 20px;
    /* background: linear-gradient(to right, blue, purple); */
    padding: 3rem;
}

h1{
    font-size: 2rem;
    color: purple;
    margin-bottom: 1rem;
}

.heading{
    font-size: 2rem;
    color: antiquewhite;
    margin-bottom: 1rem;
    font-weight: 800;
}

.css-controller{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0rem;
}

label{
    padding-left: 1rem ;
    font-size: 1rem;
    margin-top: 0.5rem;
}

img{
    width:var(--width);
    height:80%;
    margin-top: 1rem;
    padding: var(--padding);
    filter: blur(var(--blur));
    background-color:var(--base);
    border-radius: var(--border-radius);
    transition: filter 0.3s ease, background-color 0.3s ease;
}

input[type = "color"]{}